@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-gray-800: #111113;
  --color-gray-700: #313139;
  --color-gray-200: #839CB5;
  --color-gray-100: #EDEFF3;
  --color-purple-100: #A08CD9;
  --color-purple-200: #6944FF;
  --color-purple-300: #242445;
  --color-gradient-purple: #6D45CE;
  --color-gradient-pink: #FD5C79;
  --color-gradient-blue: #62E0FF;
  --color-gradient-green: #45DEC4;
  --color-graphicOffWhite: #F9FBFC;
  --color-graphicOffWhite2: #E5F1FF;
  --color-graphicOffWhite3: #F7F7F7;
  --color-graphicTurquoise: #1AE5FF;
  --color-graphicLighterBlue: #A9CCEA;
  --color-graphicPaleBlue: #289DF2;
  --color-graphicLightBlue: #2889DB;
  --color-graphicMidBlue: #287DD1;
  --color-graphicDarkBlue: #284D89;
  --color-graphicDarkerBlue: #28385E;
  --color-graphicDarkestBlue: #282E5C;
  --color-graphicGrey: #0F3775;
  --color-graphicDarkGrey: #0F3157;
  --color-graphicPaleRed: #FF5C66;
  --color-graphicLightRed: #FF4D6B;

  /* ... */
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

#skills,
#experience,
#testimonials {
  scroll-margin-top: 50px;
}